/*comentarios en Css*/

/* Pilares en Css
cascada
herencia
especificidad ( este dependera del tipo de selector 
*/



/*cascada*/
h1 {
    color: blueviolet;
}

h1 {
    color: brown;

}

/*herencia: el elemento padre le hereda a los elementos hijos sus propieadades
por ende el h1 se vuelve blue porque todo el body se vuelve blue*/
body {
    background-color: blue;
}

/*Especificidad*/
/*Tipos de selectores:(LOS QUE ESTAN A CONTINUACION SON SOLO ALGUNOS,HAY MAS
---universal :( ESTA EXPRESADO POR EL SIMBOLO ASTERISCO)
----etiqueta: ( POR EJEMPLO: BODY, H1,UL,A,IMAGEN,VIDEO)
-----clase :(ESTA REPRESENTADO POR UN PUNTO Y ES NECESARIO POR EJEMPLO SI QUIERO UN TITULO CON DIFERENTE 
COLOR QUE EL RESTO DE LOS ATRIBUTOS, LO TENGO QUE ESPECIFICAR EN EL H1, H2,H3 O EL ARIBUTO QUE QUIERA
QUE SEA DE DIFERENTE COLOR  )
------ID : SE IDENTIFICA CON # Y UN NOMBRE */


/* EN EL SIGUIENTE CASO SUCEDE QUE QUIERO SOLO MODIFICAR SOLO EL H1 O ALGUN H, ENTONCES USO LA ETIQUETA CLASS
 Y EN INDEX EN EL ATRIBUTO QUE QUIERO MODIFICAR LE SUMO UN CLASS= "titulo" )
*/
.titulo {
    color: green;
}

/*lo mismo en el siguiente caso , si yo tuviera varios parrafos y solo quisiera cambiar el color de 
uno , lo que hago es al lado del p= "parrafo" y eso me traera hasta este .parrafo, en este caso podria 
tambien haber usado selector de etiqueta pero hubiera coloreado todos los parrafos iguales)*/
.parrafo {
    color: fuchsia;
}

/*el ID se tiende a utilizar para estilos unicos que no se van a utilizar luego*/
#enlace-unico {
    color: greenyellow;
}